extends base.pug

block content 
    h4 Update Vieo #{pageTitle}
    form(method="POST")
        input(name="title",placeholder="Video Title",value=video.title,required)
        input(name="description",placeholder="Description",required,type="text",value=video.description,minlength=20)
        input(name="hashtags",placeholder="hashtags, seperated by comma",required,type="text",value=video.hashtags.join())

        input(value="Save",type="submit") 